<!-- <h1>angular class</h1> -->

<!-- interpolation  -->
<!-- <h2>{{20+30}}</h2> -->

<!-- property binding -->
<!-- <input type="text" [value] ="val"> -->

<!-- data binding  -->
<!-- <h3 [style.color]="isspecial?c1:c2">Data Binding</h3> -->

<!-- class binding  -->
<!-- <p [class]="isspecial?'para1':'para2'">class Binding</p> -->


<!-- attribute binding

<table border="2px" rules="all">
  <tr >
    <th [attr.colspan]="colval">person</th>
  </tr>
  <tr>
    <td>sri</td>
    <td>nivas</td>
  </tr>
  <tr>
    <td>sri</td>
    <td>nivas</td>
  </tr>
</table>

<button (click)="display()">click me</button> -->

<!-- 2way binding -->
<!-- <input type="text" [(ngModel)]="displayResult">
<h3>{{displayResult}}</h3> -->


<!-- <app-login [valueChild]="val"></app-login>
<app-parent [valueChild]="val"></app-parent> -->


 <button (click)="showdetails()">click</button>
<app-parent></app-parent>


<!-- <app-parent [style.color]="isspecial?c1:c2"></app-parent> -->